body {
  font-family: 'Ubuntu', sans-serif;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav > ul > li {
  display: inline;
}

li > a {
  display: inline-block;
  padding: 8px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: RGB(135, 89, 246);
}

#logoAndIntro {
  height: 350px;
  width: 100%;
  background-color: RGB(135, 89, 246);
}

#logo {
  display: block;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 150px;
  padding-right: 30px;
}

#logoAndIntro > p {
  text-align: center;
  color: white;
  margin: 0;
  padding-left: 30px;
  font-size: 25px;
}

#firstContent {
  height: 350px;
  display: block;
}

#firstOne, #firstTwo, #firstThree {
  width: 33.33%;
  float: left;
  height: 100%;
  text-align: center;
}

#firstContent img {
  max-width: 50%;
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#firstContent p {
  margin-top: 20px;
  padding-left: auto;
  padding-right: auto;
  width: 350px;
  text-align: center;
  padding-left: 70px;
  margin-top: 0;
}

#firstContent h3 {
  color: RGB(135, 89, 246);
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}
